<strong>Olá, {{ deliveryman.name }} </strong>

<p>Uma encomenda sua acaba de ser cancelada! Confira os detalhes:</p>

<strong>Destinatário: </strong>{{ recipient.name }} <br />
<strong>Produto: </strong>{{ product }} <br />
<br />
<small>Esta encomenda não precisa ser retirada.</small>
<br />
